<div class="detail">
  <div class="info">
    <span class="namespace">
      <span>Namespace: </span>
      CFX
    </span>
    <span>
      <span class="apiset">API set: </span>
      client
    </span>
    <span class="game">
      <span>Game</span>
      gta5
    </span>
  </div>
  <h2>AddAudioSubmixOutput</h2>
  <div class="hash">
    <span>
      <pre>0xAC6E290D</pre>
    </span>
  </div>
  <div class="code">
    <pre>
      -- ADD_AUDIO_SUBMIX_OUTPUT
      AddAudioSubmixOutput(
	    submixId --[[ integer ]],
	    outputSubmixId --[[ integer ]]
      )
    </pre>
  </div>
  <div class="desc">
    <div class="parameters">
      <strong>Parameters:</strong>
      <br />
      <ul>
        <li>
          <strong>submixId</strong>
          ": "
          <p>The input submix.</p>
        </li>
        <li>
          <strong>outputSubmixId</strong>
          ": "
          <p>The output submix. Use 0 for the master game submix.</p>
        </li>
      </ul>
    </div>
    <p>Adds an output for the specified audio submix.</p>
  </div>
</div>
