<div *ngIf="native" class="detail">
  <div class="info">
    <span class="namespace">
      <span>Namespace: </span>
      CFX
    </span>
    <span>
      <span class="apiset">API set: </span>
      {{ native.apiset }}
    </span>
    <span class="game">
      <span>Game</span>
      gta5
    </span>
  </div>
  <h2>{{ native.name }}</h2>
  <div class="hash">
    <span>
      <pre>{{ native.hash }}</pre>
    </span>
  </div>
  <div class="code">
    <pre>
      -- {{ native.name }}
      {{ native.name }}(
	    <ul>
        <li *ngFor="let argument of native.arguments">
          {{argument.namearg}} -- [[{{argument.type}}]]
        </li>
      </ul>
      )
    </pre>
  </div>
  <div class="desc">
    <div class="parameters">
      <strong>Parameters:</strong>
      <br />
      <ul>
        <li *ngFor="let argument of native.arguments">
          <strong>
            {{ argument.namearg }}
            :
            {{ argument.description }}
          </strong>
        </li>
      </ul>
    </div>
    <p>{{ native.comment }}</p>
  </div>
</div>
<div *ngIf="!native" class="detail empty">
  Please select a native from the list.
</div>
