<nav>
  <div class="toogles">
    <div class="title">API Set:</div>
    <ul>
      <li>{{ selectlang.all }}</li>
      <li>{{ selectlang.server }}</li>
      <li>{{ selectlang.client }}</li>
    </ul>
  </div>
  <div class="toogles">
    <div class="title">{{ selectlang.language }}</div>
    <ul>
      <li>raw</li>
      <li>lua</li>
      <li>c#</li>
      <li>js</li>
    </ul>
  </div>
  <div class="toogles">
    <div class="title">{{ selectlang.theame }}</div>
    <ul>
      <li>{{ selectlang.dark }}</li>
      <li>{{ selectlang.white }}</li>
      <li>{{ selectlang.blue }}</li>
      <li>{{ selectlang.red }}</li>
    </ul>
  </div>
  <div class="toogles">
    <div class="title">{{ selectlang.language }}</div>
    <ul>
      <li (click)="switchRu()">Ru</li>
      <li (click)="switchEng()">En</li>
    </ul>
  </div>
</nav>
