<nav>
  <div class="toogles">
    <div class="title">API Set:</div>
    <ul>
      <li>all</li>
      <li>server</li>
      <li>client</li>
    </ul>
    <div class="toogles"></div>
    <div class="toogles"></div>
  </div>
  <div class="toogles">
    <div class="title">Language:</div>
    <ul>
      <li>raw</li>
      <li>lua</li>
      <li>c#</li>
      <li>js</li>
    </ul>
  </div>
  <div class="toogles">
    <div class="title">Color Theme:</div>
    <ul>
      <li>Dark</li>
      <li>White</li>
      <li>Blue</li>
      <li>Red</li>
    </ul>
  </div>
</nav>
