nav {
  height: 32px;
  background-color: #f3f3f4;
  box-shadow: inset 0 -1px 0 rgba(22, 25, 35, 0.1);
  display: flex;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 4px 8px;
  color: var(--fg);
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

.toogles {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--fg);
  font-size: 0.8rem;
  margin: 0 16px;
}
